/*
# Alerts

Display important information in a container that will catch the user's attention

Markup:
<div class="alert $modifierClass">
    <h1 class="alert__title">Title of Alert</h1>
    Body of Alert
</div>

.alert--error - Use when a user does something dumb
.alert--success - Use when a user does something right
.alert--info - Use to give extra info to a user
.alert--debug - Debug information to display to a developer

Styleguide 1.1
 */
.alert {
    background-color: yellow;
    border: 2px solid goldenrod;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 8px;
    font-size: 16px;
}

.alert--error {
    border-color: darkred;
    background-color: red;
}

.alert--success {
    border-color: green;
    background-color: limegreen;
}

.alert--info {
    border-color: blue;
    background-color: cornflowerblue;
}

.alert--debug {
    border-color: purple;
    background-color: orchid;
}

/*
# Alert Titles

These are titles to be used with alerts

Markup:
<div class="alert">
    <h1 class="alert__title $modifierClass">Title of Alert</h1>
    Body of Alert
</div>

.alert__title--mini
.alert__title--plain

Styleguide 1.2
 */

.alert__title {
    font-style: italic;
    font-weight: normal;
    font-size: 32px;
    margin: 0;
}

.alert__title--mini {
    font-size: 18px;
}

.alert__title--plain {
    font-style: normal;
}
