/*
Display important information in a container that will catch the user's attention

.alert--error - Use when a user does something dumb
.alert--success - Use when a user does something right
.alert--info - Use to give extra info to a user
.alert--debug - Debug information to display to a developer

Styleguide 1.1
 */
.alert {
    background-color: yellow;
    border: 2px solid goldenrod;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 8px;
    font-size: 16px;
}

.alert--error {
    border-color: darkred;
    background-color: red;
}

.alert--success {
    border-color: green;
    background-color: limegreen;
}

.alert--info {
    border-color: blue;
    background-color: cornflowerblue;
}

.alert--debug {
    border-color: purple;
    background-color: orchid;
}
